<nav class="navbar">
    <div class="logo">RPS Arena</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/play">Play</a></li>
        <% if(typeof isAuthenticated !== 'undefined' && isAuthenticated){ %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
    <div class="menu-toggle" id="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
